@tailwind base;
@tailwind components;
@tailwind utilities;

.hover-delay {
  --tw-tracking-tightness: 0;
  transition-property: var(--tw-transition-properties);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.hover-delay:hover {
  --tw-tracking-tightness: 0.1em;
  transition-delay: 300ms; /* adjust this to your liking */
}

.hover-delay:active {
  --tw-tracking-tightness: 0;
  transition-delay: 0ms;
}

html {
  --line-color: #e5e7eb;
}

html.dark {
  --line-color: rgba(255, 255, 255, 0.2);
}

.borderBlack {
  @apply border border-black/10;
}
